
body{
	background: #f5f5f5;
	line-height: 1.8;
	height: 100%;
	
}
.container-fluid{
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 12px;
	
}
li{
	list-style-type: none;
}
.navbar{
	height: 120px;
	border-radius: 0;
	background-color: black;
	padding: 10px;
	margin-bottom: 0;
	border-bottom: 1px solid white;
	border-right: 0px;
	border-left: 0px; 
}
.big-img{
	background:url("big.jpeg") no-repeat;
	background-size:100% 100%;
	background-position:center;
	height: calc(100vh-120px);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 82.5%;

	
	
}
.head-img{
	height: 100vh;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}
 .instruct{
  	background-color: #E2E2E2;
  	color: black;
  	margin-bottom: 50px;
  	
  }
  .instruct h4{
  	text-transform: uppercase;
  	font-weight: bold;
  }
  .tt{margin-top: 10px;}
  .service-desc{
  	padding-left: 100px;
  	padding-right: 100px;
  	padding-top: 10px;

  }

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}
.button_base:hover {
    cursor: pointer;
}
.b07_3d_double_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.b07_3d_double_roll div {
    position: absolute;
    text-align: center;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b07_3d_double_roll div:nth-child(1) {
    color: #ffffff;
    background-color: #FD4D00;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(3) {
    color: #ffffff;
    background-color: #FD4D00;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(4) {
    color: #ffffff;
    background-color: #ffffff;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll:hover div:nth-child(1) {
    background-color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

.b07_3d_double_roll:hover div:nth-child(2) {
    color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b07_3d_double_roll:hover div:nth-child(3) {
    background-color: #ffffff;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
}

.b07_3d_double_roll:hover div:nth-child(4) {
    color: #000000;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 200px; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    display: inline-block;
    
    

}

/* The navigation links inside the overlay */
.overlay-content a {
    padding: 5px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block; /* Display block instead of inline */
    transition: 0.5s; /* Transition effects on hover (color) */
    margin: 10px;
    background-color: white;

	border: 2px solid #FD4D00 ;
	
	

}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #FD4D00;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, 
so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.mi{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.mi:hover{
	background-color: #FD4D00;
}
.social-span{
	margin: 15px;
}
.thumbnail{
	width: 250px;
	height: 200px;
	position: relative;
}
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.ov:hover .image {
  opacity: 0.3;
}

.ov:hover .middle {
  opacity: 1;
}

.text {
  background-color: #FD4D00;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
}
.middle a{
	text-decoration: none;
}
.top{
	margin-left:50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.td{
	margin-left:38%;
	margin-bottom: 25px;
}
.sc{
	margin-left:34%;
	margin-bottom: 25px;
}
footer{
	background-color: #4B5054;
	height: 200px;
	padding: 10px;
	color: white;
	margin-top:50px;
}
.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .palleb{
  	margin-top:30px;
  }
  .navh>li>a{
  	background-color: black;
  	color: white;
  	/*border-radius: 10px;**/
  	margin: 20px;
  }
.navh>li.active>a,
.navh>li.active>a:focus,
.navh>li.active>a:hover
{
	background-color: #f4511e;
	color: white;

}
.tabcd{
	background-color: pink;
	height: 500px;
	padding:15px;
}
.measure-in{
resize: horizontal; 
width: 50px;
margin-left:30px;
margin-bottom: 15px;
padding: 3px;
 
}
.labl{
	width: 180px;

}
.direction{
	
	margin-top: 1px;
	margin-left: 5px;
	margin-right: 10px;
}
#footd{
	height: 50px;
}
.title{
	margin-left: 83px;
}
.social-signup{
	width: 200px;
	margin: 30px;
	color: white;
	padding-left: 10px;
	
}

.fb{
	background-color: #3B5998;
}
.tw{
	background-color: #1DA1F2;
}
.sbtn{

	border: 2px solid #FD4D00 ;
	font-size:16px;
	text-align: center;
}
#mcard{
	
	
	background-color: white;
	border: 2px solid #FD4D00;
	 
	height: 80px;
	margin-bottom: 30px;
}
a{
	text-decoration: none;
}
