@import url(http://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;



  i,em,
  b,strong,
  span {
    transition: none;
  }
}

*:before,
*:after {
  z-index: -1;
}









[class^="btn-"] {
  position: relative;
  display: block;
  margin: 1rem auto;
  @include size(100%, $btn-height);
  max-width: $btn-width;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid currentColor;
}



.btn-11 {
  position: relative;
  $btn-color: random-color($max:200);
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);
  
  &:before,
  &:after {
    @include absolute(50%);
    content: '';
    @include size(20px);
    background: $btn-color;
    border-radius: 50%;
  }
  
  &:before {
    left: -20px;
    transform: translate(-50%, -50%);
    // animation: criss-cross-left 0.8s reverse;
  }
  
  &:after {
    right: -20px;
    transform: translate(50%, -50%);
    // animation: criss-cross-right 0.8s reverse;
  }
  
  &:hover {
    color: tint($btn-color, 75%);

    &:before,
    &:after {
      // @include size($btn-width);
    }
    
    &:before {
      animation: criss-cross-left 0.8s both;
    }
    
    &:after {
      animation: criss-cross-right 0.8s both;
    }
  }
}